*{
    margin: 0;
    padding: 0;
}
.hed{
    text-align: center;
}


.frist{
 
   padding-top: 50px;
   text-align: center;
}
.last{

padding-top: 10px;
text-align: center;
}
.phone{
    text-align: center;
padding-top: 10px;
}
.email{
text-align: center;
padding-top: 10px;
}
.gender{
text-align: center;
padding-top: 10px;
    }
  .submit{
text-align: center;
padding-top: 10px;
  }